<!-- {{}} = bu anguların devreye girmesi için yapmamız gereken işlem. aslında aşağıda biz Welcome to title yazsak da olurdu. ama angular örneği yaptık.
ve biz {{}} içine title yazdık title de app.component.ts de var olduğundan direk geliyor. Çünkü app.component.ts bir data. diyebiliriz.
Angular ile productName gibi içerikleri dinamikleştirebiliyoruz yani webapi'den e-ticaret sistemine data geliyor ve geliştirici böyle ürünleri tek tek yazmıyor. <li>Laptop </li> vs gibi
*ngFor="" Angular için önemli. Directive deniyor. Bu bizim ilgili html elementini kontrol etmemize yarıyor. ve *ngFor bulunduğumuz diziyi tekrarlamamıza yarıyor yani burda li'yi.
*ngFor=" " bildiğimiz c# daki foreach döngüsü. *ngFor = bir directive.
products burda component'deki array durumundaki değişken. products'ı gez demek . Foreach'de de aynısını yapıyorduk ya . let product'da ki product'a item, eleman da yazabiliriz ama biz c#da foreach'de var product in products yazıyorduk ya o yüzden product yazdık.
built-in = angular'ın kendi içinde hazır olarak gelen bir directive, bizimde zamanla kendi directive'lerimiz olacak.
components klasöründe terminalde aç dedikten sonra ng g component product yazıyoruz. g= generate = oluştur demek , product componenti oluştur demek. category ve navi de oluşturduk
Module = bir veriyle ilişkili componentleri, directive'leri topladığımız yer. aşağıdaki kodu yorum satırına alıyorum.
Bootstrap html'lerin güzel gözükmesini sağlıyor.--> 
<!-- Welcome to {{title}} <br>
Hello {{user}} <br>
{{product1.productName}}
<ul>
  <li *ngFor="let product of products" >{{product.productName}}</li>
</ul> -->

<!-- üst bir component var o app.component onun altında navi, category, product component var. demek componentleri böyle app-navi,category,product diyerek ekliyoruz fakat ilgili dizinin(mesela product için product.component.ts'de )app-product yazması lazım.
container = ortaladı navbarı. 
bir div ile çalıştığımız zaman o sayfayı kaplamaya çalışır
ama bootstrap'te bir satırı 12 parçaya böldüğümüzü var sayıyor.12 eşit parçaya bölüyordu ya category'e 3 veriyoruz product'a 9 verdik 12 oldu. -->

<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
    </div>
  </div>
<router-outlet></router-outlet>
</div>
